/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* End Reset */

/* Main Layout Rules */
body {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 300;
}
i {
  cursor: pointer;
}
input:focus{
  outline: none;
}
h2 {
  font-size: 16px;
  margin-bottom: 5px;
}

.container {
  height: 100vh;
  width: 100%;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #009688 12%, #d8dbd5 12%);
}

.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
}

.app-wrap {
  width: 80%;
  height: 90vh;
}

.sidebar-wrap {
  width: 35%;
  height: 100%;
  background-color: #fff;
  min-width: 300px;
}

.chat-wrap {
  width: 65%;
  height: 100%;
  min-width: 600px;
}

.bar {
  height: 80px;
  flex-shrink: 0;
}

.sidebar-wrap .navbar {
  background-color: #eaeaea;
  border-right: 1px solid #dfdfdf;
}
.sidebar-wrap .notif {
  background-color: #8edbfd;
}
.sidebar-wrap .searchbar {
  height: 50px;
  background-color: lightgray;
  flex-shrink: 0;
}
.sidebar-wrap .contacts {
  height: calc(100% - 210px);
  min-height: 200px;
  flex-shrink: 1;
  overflow-y: scroll;
}


.chat-wrap .navbar{
  background-color: #eaeaea;
}
.chat-wrap .chat {
  height: calc(100% - 160px);
  background-image: url("../img/mine.jpg");
  overflow-y: scroll;
}
.chat-wrap .inputtext{
  background-color: #f3eeea;
}

.navbar {
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.avatar {
  height: 60px;
  flex-grow: 1;
}
.avatar img{
  height: 100%;
  border-radius: 50%;
}

.navigation i{
  font-size: 22px;
  padding-right: 15px;
}

.name {
  color: #000;
}
.sub {
  color: #9ea4a6;
}

@media only screen and (max-width: 899px) {
  .app-wrap {
    width: 100%;
  }
}

.active-chat {
  background-color: #e9ebeb;
}
.hidden {
  display: none;
}
/* End Main Layout Rules */


/*** SIDEBAR ITEMS ***/

/** Notification Bar **/
.notif {
}
.notif .icon {
  margin: 15px;
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
}
.notif .icon i {
  font-size: 30px;
  padding: 7px;
  color: #8edbfd;
}
.notif .text {
  justify-content: center;
}
.notif .text span {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 700;
}
/** End Notification Bar **/

/** Search Bar **/
.search {
  width: 95%;
  height: 40px;
  margin: 5px auto;
  border-radius: 50px;
  background-color: white;
}
.search i{
  align-self: center;
  font-size: 20px;
  padding: 25px
}
.search input{
  border: none;
  width: 75%;
  border-radius: 50px;
}
/** End Search Bar **/

/** Contact Card **/
.contacts .card-contact{
  height: 80px;
  border-right: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  padding: 10px 20px;
  cursor: pointer;
}
.contacts .card-contact .text {
  margin-left: 30px;
  align-self: center;
}
.contacts .card-contact .hour {
  margin-top: 10px;
}
/** End Contact Card **/

/*** END SIDEBAR ITEMS ***/

/*** CHAT ITEMS ***/

/** Messages **/
.message-container {
  padding: 25px 35px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.message-container .box {
  margin: 10px;
}
.message-container .box span{
  padding: 15px;
  border-radius: 10px;
  max-width: 65%;
  min-width: 50px;
  font-size: 13px;
}
.message-container .box span p{
  margin-top: 10px;
  margin-left: 10px;
  align-self: flex-end;
  font-size: 10px;
}

/* User Message */
.message-container .user-message {
  justify-content: flex-end;
}
.message-container .user-message span{
  background-color: #d5f9ba;
}
/* End User Message */

/* Pc Message */
.message-container .pc-message {
  justify-content: flex-start;
}
.message-container .pc-message span {
  background-color: #fff;
}
/* End PC Message */

/** End Messages **/

/** Chat Text Bar **/
.chat-wrap .navbar .text {
  flex-grow: 15;
}
.chat-wrap .inputtext {
  align-items: center;
  justify-content: space-between;
}
.chat-wrap .inputtext .search{
  padding-left: 20px;
  width: 85%;
}
.chat-wrap .inputtext i {
  font-size: 25px;
  padding: 15px;
}
/** End Chat Text Bar **/

/*** END CHAT ITEMS ***/
